[Unit]
Description=Logstash and Python
StartLimitIntervalSec=0

[Service]
Restart=always
RestartSec=1
ExecStart=sh /home/pi/pothole-sensors-py/Logstash\&py.sh

[Install]
WantedBy=multi-user.target