<mat-card>
    <mat-card-title class="mtb">
        New User
    </mat-card-title>
    <form>
            <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Enter Username" type="text" required>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Enter Password" type="password" required>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input matInput placeholder="Confirm Password" type="password" required>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Full Name</mat-label>
                <input matInput placeholder="Enter Full Name" type="text" required>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="abc@mail.com" [formControl]="email" type="text" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <hr>

            <button mat-raised-button class="mt" color="primary">Submit</button>
            <button mat-button class="mr">Cancle</button>
    </form>
</mat-card>